---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Quando' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/stylesheets/resumecards.css" | prepend:site.baseurl }}">
    <title>{{ site.data.resume.name }}'s Resume</title>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="container hidden-print">
      <!--これは何なのか､どんな風に使えるのかを説明する-->

      <!--イントロ部分-->
      <span>Resumecards</span>
      <p>Resumecardsは､簡単にキレイなレジュメを作成できるジェネレーターツールです｡</p>
      <p>Written by <a href="http://ellekasai.com/about" target="_blank">Elle Kasai</a> (<a href="http://twitter.com/ellekasai" target="_blank">@ellekasai</a>), a UI/UX designer based in Vancouver, Canada.</p>
      <p><a href="https://github.com/ellekasai/resumecards" target="_blank" class="btn btn-primary btn-lg space-sm">Download on GitHub →</a></p>

      <!--特長-->
      <p>Resumecardsは<a href="http://blog.intercom.io/why-cards-are-the-future-of-the-web/" target="_blank">カードデザイン</a>を参考にデザインしました｡</p>
      <p>カードの内容を編集するには､Markdown記法を使用します｡</p>
      <pre>
        ---
        type: "Work Experience"
        heading: "Bizreach"
        subheading: "Junior Product Designer"
        duration: "October 2013 – September 2014 (1 year)"
        location: "Tokyo, Japan"
        ---

        <a href="https://www.bizreach.jp/" target="_blank">BizReach</a> is Japan's top job site exclusive to business executives. I worked on front-end design and coding. My most recent project was <a href="https://woman.bizreach.jp/" target="_blank">Bizreach Woman</a>, a job site specifically for female business executives in Japan.
      </pre>
      <p>カラーテーマは8種類の中から選べます｡</p>
      <p>print buttonを押すと印刷ダイアログが表示されようになっており､そのまま印刷したり､PDFとして保存することができます｡</p>
      <p>
        <a href="resume_print_sample.pdf" target="_blank"><img src="{{ "/images/resume_print_preview.png" | prepend:site.baseurl }}" width="400"></a>
      </p>

      <!--注意-->
      <p>動作確認はChromeでのみ行っていますので､Chromeで使用されることをお勧めします｡</p>
      <p>カードは9枚に固定されていて､各カードは印刷時に1枚に収まるように高さが固定されています｡</p>
    </header>
    <nav class="navbar navbar-default hidden-print hidden-xs navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#resume-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="resume-nav">
          <div class="nav navbar-nav resume-left">
            <span>Built with <a href="https://github.com/ellekasai/resumecards" target="_blank">Resumecards</a><span class="hidden-sm">, a Markdown based resume generator.</span></span>
            <button onclick="window.print()" class="btn btn-primary">Print</button>
            <div class="dropdown resume-dropdown">
              <button type="button" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Theme <span class="caret"></span></button>
              <ul class="dropdown-menu resume-dropdown-menu" role="menu">
                <li><a href="#" id="default">Default</a></li>
                <li><a href="#" id="red">Red</a></li>
                <li><a href="#" id="pink">Pink</a></li>
                <li><a href="#" id="brown">Brown</a></li>
                <li><a href="#" id="blue">Blue</a></li>
                <li><a href="#" id="bluegray">Blue Gray</a></li>
                <li><a href="#" id="teal">Teal</a></li>
                <li><a href="#" id="green">Green</a></li>
              </ul>
            </div>
          </div>
          <ul class="nav navbar-nav navbar-right resume-right">
            <li><a href="https://twitter.com/share" class="twitter-share-button" data-via="ellekasai" data-size="large">Tweet</a></li>
            <li><iframe src="http://ghbtns.com/github-btn.html?user=ellekasai&repo=resumecards&type=watch&count=true&size=large"
              allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container resume-content">
      <div class="row resume-header">
        <div class="col-sm-8 resume-profile clearfix">
          <figure class="resume-pic">
            <img src="{{ site.data.resume.photo }}" class="img-rounded" width="120" height="120">
          </figure>
          <div class="resume-baseinfo">
            <h1>{{ site.data.resume.name }}</h1>
            <p class="resume-copy">{{ site.data.resume.copy }}</p>
          </div>
        </div>
        <div class="col-sm-4 resume-contact">
          {% include nav.html %}
        </div>
      </div>
      <div class="row">
        {% for card in site.posts reversed %}
          <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">{{ card.type }}</h3>
              </div>
              <div class="panel-body">
                {% if card.heading %}
                  <h4>
                    {{ card.heading }}
                  </h4>
                {% endif %}
                {% if card.subheading %}
                  <p class="resume-subheading">
                    {{ card.subheading }}
                  </p>
                {% endif %}
                {% if card.duration %}
                  <p class="resume-duration">
                    {{ card.duration }}
                  </p>
                {% endif %}
                {% if card.location %}
                  <p class="resume-location">
                    {{ card.location }}
                  </p>
                {% endif %}
                {{ card.content }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <script src="{{ "/javascripts/jquery.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/javascripts/bootstrap.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/javascripts/resumecards.js" | prepend:site.baseurl }}"></script>
    {% include scripts.html %}
  </body>
</html>
