---
---

$container-large-desktop: 970px;

$font-family-base: "Muli", sans-serif;
$headings-font-family: "Quando", sans-serif;
$headings-font-weight: 700;

$font-size-base: 12px;
$font-size-h1: floor(($font-size-base * 3));
$font-size-h2: floor(($font-size-base * 1.4));
$font-size-h3: floor(($font-size-base * 1));
$font-size-h4: floor(($font-size-base * 1));
$font-size-h5: floor(($font-size-base * 1));
$font-size-h6: floor(($font-size-base * 1));
$blockquote-font-size: floor(($font-size-base * 1.25));
$line-height-base: 1.8;
$headings-line-height: 1.3;

@import "bootstrap-sass/bootstrap";

body {
  color: #313D5A;
  background-color: #F3EDF7;
}

h1, h2, h3, h4, h5, h6, .panel-title {
  color: #73628A !important;
}

h1 + h2 {
  margin-top: 0;
  margin-bottom: 50px;
}

.container {
  padding-top: 60px;
}

.panel {
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.panel-default {
  border-color: #EAEAEA;
}

.panel-default > .panel-heading {
  background-color: #CBC5EA;
  border-color: #CBC5EA;
}

.panel-heading {
  height: 40px;
  overflow: hidden;
}

.panel-body {
  height: 400px;
  overflow: hidden;
}

.resume-body {
  height: 250px;
  background: url("{{ site.url }}/images/cover.jpg") no-repeat center center;
  background-size: cover;
}

.resume-profile {
  width: 140px;
  height: 140px;
  margin-bottom: -470px;
  border: 5px solid #F3EDF7;
}

.resume-date {
  color: #9CA4B8;
  line-height: 1.4;
}

@media print {
  // Bootstrapは、
  // 1. CSSのなかで、Media Queryが何もないところだと、1 column
  // 2. @media (min-width: 768px) { ... } -> small grid  (col-smがgridになる)
  // 3. @media (min-width: 992px) { ... } -> medium grid (col-mdがgridになる)
  //
  // -> @media print { ... }のなかは、デフォルトだと1 column
  //    だがしかし、@include make-grid(sm);を、@media print { ... }の中で
  //    呼ぶことによって、small gridを適用することができる
  @include make-grid(sm);

  // レターサイズの紙の大きさにする (日本はA4だけど、アメリカではLetterサイズが標準)
  @page {
    size: letter;
  }
}
